{
    "extends": ["airbnb", "prettier", "prettier/react", "airbnb/hooks"],
    "plugins": ["prettier", "react", "jsx-a11y", "react-hooks"],
    "rules": {
      "react/jsx-filename-extension": [
        1,
        {
          "extensions": [".js", ".jsx"]
        }
      ],
      "react/prop-types": 0,
      "implicit-arrow-linebreak": 0,
      "prefer-destructuring": 1,
      "react/no-unused-state": 1,
      "react/destructuring-assignment": 1,
      "react-hooks/rules-of-hooks": "error",
      "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
      "no-underscore-dangle": ["error", { "allowAfterThis": true }],
      "no-unused-expressions": ["error", { 
        "allowShortCircuit": true, 
        "allowTernary": true, 
        "allowTaggedTemplates": true 
        }],
      "import/imports-first": ["error", "absolute-first"],
      "import/newline-after-import": "error"
    },
    "globals": {
      "window": true,
      "document": true,
      "localStorage": true,
      "FormData": true,
      "FileReader": true,
      "Blob": true,
      "navigator": true
    },
    "parser": "babel-eslint"
  }